name: Rust

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]
    tags:
      - "v*.*.*"
      
env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Archive build
      run: tar -czvf linux-build.tar.gz target/release/
    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      with:
        name: linux-build
        path: linux-build.tar.gz

  build-windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Archive build
      run: Compress-Archive -Path target/release/* -DestinationPath windows-build.zip
    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      with:
        name: windows-build
        path: windows-build.zip

  build-macos:
    name: Build on macOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Archive build
      run: tar -czvf macos-build.tar.gz target/release/
    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      with:
        name: macos-build
        path: macos-build.tar.gz

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows, build-macos]
    steps:
    - uses: actions/checkout@v4
    - name: Download Linux build
      uses: actions/download-artifact@v3
      with:
        name: linux-build
        path: .
    - name: Download Windows build
      uses: actions/download-artifact@v3
      with:
        name: windows-build
        path: .
    - name: Download macOS build
      uses: actions/download-artifact@v3
      with:
        name: macos-build
        path: .
    - name: Create GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          linux-build.tar.gz
          windows-build.zip
          macos-build.tar.gz
